label {
	display: block;
	margin: 10px;
	font-size: 20px;
}

input {
	font-size: 20px;
}

input.input-text {
	margin-top: 40px;
}

input.input-submit {
	font-size: 20px;
	padding: 16px;
	border-radius: 5px;
	color: white;
	background-color: rgb(91, 130, 186);
}

input.input-submit:hover {
	color: rgb(91, 130, 186);
	background-color: white;
	cursor: pointer;
	transition: 0.3s;
}